<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class=" card-body"><div class=" map" id="satelliteMap"></div></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header "><h4 class="card-title">Regular Map</h4></div>
        <div class=" card-body"><div class=" map" id="regularMap"></div></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Custom Skin & Settings Map</h4>
        </div>
        <div class=" card-body">
          <div class=" map" id="customSkinMap"></div>
        </div>
      </div>
    </div>
  </div>
</div>
